.welcome-notice {
color: white;
background-color: rgb(42, 71, 42, 0.73);
font-size: 25px;
font-family: "Garamond", serif;
}

h2 {
font-family: "Garamond", serif;
font-size: 35px;
text-align: center;
background-color: rgb(42, 71, 42, 0.73);
color: black;
}

p {
text-align: left;
font-family: "Garamond", serif;
font-size: 25px;
}

.carousel-image {
display: block;
  margin-left: auto;
  margin-right: auto;
height: 750px;
width: 70%;
}

.learn-more-header {
padding: 50px 50px 50px 100px;
}

.card {
size: 18rem;
}

.park-description {
background-color: rgb(160, 75, 19, 0.8);
padding: 50px 50px 50px 100px;
font-family: "Georgia", serif;
}

.carousel-container {
padding: 50px 50px 50px 100px;
}