.welcome-notice {
color: white;
background-color: rgb(26, 26, 0, 0.73);
font-size: 25px;
font-family: "Garamond", serif;
}

h2 {
font-family: "Garamond", serif;
font-size: 50px;
text-align: center;
}

p {
text-align: center;
}

.carousel-image {
display: block;
  margin-left: auto;
  margin-right: auto;
height: 750px;
width: 70%;
}

.learn-more-header {
padding: 100px 50px 50px 100px;
}

.park-description {
padding: 10px, 50px, 50px, 100px;
}

