.welcome-notice {
color: white;
background-color: rgb(26, 26, 0, 0.73);
font-size: 25px;
font-family: "Garamond", serif;
}

h2 {
font-family: "Garamond", serif;
}

body {
    background: hsla(120, 100%, 75%, 0.2) !important;
}