.register {
    width: 400px;
    background: #fff;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;

     width: var(--smallWidth);
          margin: 70px auto;;
          max-width: var(--maxWidth);
          background: var(--mainWhite);
          padding: 2rem 2.5rem;
          text-transform: capitalize;
          border-radius: var(--mainBorderRadius);
          box-shadow: var(--lightShadow);
}

.register > form input {
    border-radius: 20px;
    border: 2px solid lightgrey;
    outline: none;
    color: #1d2129;
    margin: 2% 0;
    width: 90%;
    padding: 12px;
    font-size: 16px;
}