.btn-primary {
  width: var(--smallWidth);
  max-width: var(--maxWidth);
  margin: 0 auto;
   text-align: right;
}
.btn-primary p {
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
    text-align: right;
}